[Unit]
After=network.target

[Service]
ExecStart=/home/rock64/redfrog/redfrog-client-arm64 -c /home/rock64/redfrog/prod-config.yaml -d /home/rock64/redfrog -log /home/rock64/redfrog/output.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Type=simple
User=root

[Install]
WantedBy=default.target